body
{
    background-color: black;
    margin-top: 10%;
    margin-bottom: 10%
}
#player_stats
{
    position:fixed; 
    width:100%; 
    height:75px; 
    background-color:#666; 
    padding:5px; 
    bottom:0px;
    color: #FFFFFF;
    text-align: center;
    background-color: rgb(1,75,175);
    display: inline;
}
.gui
{
  background-color: rgb(95,75,175);
  width: 50%;
  height: 20%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius: 100px;
  border-radius: 100px;
  list-style-type: none;
  font-family: "Lucida Console", Monaco, monospace;
  transition: all 1s ease-in-out;
}
.gui_mid
{
    padding-top: 5%;
    padding-bottom: 5%;
}
#console
{
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 10%;
    height: 75px;
}
#wait_screen
{
    opacity: 0;
}
#main_screen
{
    display: none;
    opacity: 0;
    background-color: red;
}
#login
{
}
h1
{
  font-size: 150%;
}
input
{
    border: 0;
    width: 50%;
    height: 50%;
    font-size: 200%;
    background-color: rgb(75,175,175);
    font-family: "Lucida Console", Monaco, monospace;
}
