body
{
    background-color: black;
    margin-top: 10%;
    margin-bottom: 10%
}
.gui
{
    background-color: rgb(177,175,175);
    width: 50%;
    height: 20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    transition: all 1s ease-in-out;
    font-family: "Lucida Console", Monaco, monospace;
}
.gui_mid
{
    padding-top: 5%;
    padding-bottom: 5%;
}
#console
{
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 10%;
    height: 75px;
}
#main_screen
{
    background-color: rgb(10,177,175);
}
#login
{
  background-color: rgb(255,255,175);
}
h1
{
  font-size: 150%;
}
input
{
    border: 0;
    width: 50%;
    height: 50%;
    font-size: 40px;
    background-color: rgb(75,175,175);
}
.btn {
    background-color: rgb(200,200,175);
    color: rgb(75,75,75);
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}



.btn:hover {
    border: none;
    background:rgb(150,125,150);
    box-shadow: rgb(125,175,125);
}







#player_stats
{
    position:fixed; 
    width:100%; 
    height:30px; 
    bottom:0px;
    color: white;
    background-color: rgb(77,75,75);
    display: inline;
}
#player_count
{
    margin-left: 20%;
}
#opponent
{
    margin-left: 20%;
}
#win-streak
{
    margin-left: 20%;
}
#nick
{
    margin-left: 5%;
}
